<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wholesale Store Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="login-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
<<<<<<< HEAD
    <a href="/register">Register</a>
=======
        <% if (registerButton) { %>
    <a href="/register">Register</a>
<% } %>
>>>>>>> 42aa8bf88d43f1a4fbdbf55ec22a55f6097726c5
    </div>
</body>
</html>
